<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<div id="app">

    <!--搜索表单-->
    <el-form :inline="true" :model="brand" class="demo-form-inline">

        <el-form-item label="学期">
            <el-select v-model="semester">
                <el-option label="2022春" value="1"></el-option>
                <el-option label="2021秋" value="2"></el-option>
                <el-option label="2021春" value="3"></el-option>
                <el-option label="2020秋" value="4"></el-option>
                <el-option label="所有学期" value="5"></el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="">
            <el-input v-model="fuzzyName"  placeholder="请输入作业名称/课程名称/班级名称"></el-input>
        </el-form-item>


        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <el-row>
        <el-button type="primary" plain @click="dialogVisible = true">添加作业</el-button>
        <el-button type="success" plain>导出成绩</el-button>
    </el-row>

    <div id="taskForm">
        <el-dialog
                title="添加作业"
                :visible.sync="dialogVisible"
        >
            <el-dialog
                    width="30%"
                    title="题库"
                    :visible.sync="bankVisible"
                    append-to-body>
                <el-table
                        ref="multipleTable"
                        :data="problem"
                        tooltip-effect="dark"
                        style="width: 100%"
                        @selection-change="handleSelectionChange2">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            type="index"
                            label="序号"
                            width="120">
                        <!--                    <template slot-scope="scope">{{ scope.row.date }}</template>-->
                    </el-table-column>
                    <el-table-column
                            prop="main"
                            label="题目"
                            width="120">
                    </el-table-column>
                </el-table>

                <el-row>
                    <el-button type="primary" round @click="addToNewProblem">选择</el-button>
                    <el-button type="danger" round @click="bankVisible = false">取消</el-button>
                </el-row>
                <br>


            </el-dialog>



            <el-form ref="form" :model="brand" label-width="80px">
                <el-form-item label="作业名称:">
                    <el-input v-model="taskForm.taskName"></el-input>
                </el-form-item>

                <div id="course">
                    所属课程:
                    <template>
                        <el-select v-model="taskForm.courseName" filterable placeholder="请选择">
                            <el-option
                                    v-for="item in courseOptions"
                                    :key="item.label"
                                    :label="item.label"
                                    :value="item.label">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <br>

                <div>
                    所属班级：
                    <template>
                        <el-select v-model="taskForm.className" filterable placeholder="请选择班级">
                            <el-option
                                    v-for="item in classOptions"
                                    :key="item.label"
                                    :label="item.label"
                                    :value="item.label">
                            </el-option>
                        </el-select>
                    </template>

                </div>
                <br>

                <el-row>
                    题目：
                    <el-button type="success" plain>添加题目</el-button>
                    <el-button type="danger"  plain @click="bankVisible = true">题库选题</el-button>
                </el-row>
                <br>
                </el-form-item>

                <el-table
                        :data="addedProblem"
                        border
                        height="200"
                        :summary-method="getSummaries"
                        show-summary
                        style="width: 100%; margin-top: 20px">
                    <el-table-column
                            type="index"
                            label="序号"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="question_content"
                            label="题目简介">
                    </el-table-column>
                    <el-table-column
                            prop="question_type"
                            label="题型">
                    </el-table-column>
                    <el-table-column
                            prop="full_score"
                            label="分值">
                        <template slot-scope="scope">
                            <input placeholder="请输入" v-model="addedProblem[scope.$index].full_score">
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="操作">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handleDelete1(scope.$index, scope.row)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <el-form-item>
                    <el-button type="primary" @click="addBrand">提交</el-button>
                    <el-button @click="dialogVisible = false">取消</el-button>
                </el-form-item>
            </el-form>

        </el-dialog>
    </div>


    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    label="序号"
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="subjectName"
                    label="作业名称"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="courseName"
                    label="课程"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="problemNumber"
                    align="center"
                    label="题数">
            </el-table-column>
            <el-table-column
                    prop="className"
                    align="center"
                    label="班级">
            </el-table-column>

            <el-table-column
                    prop="startTimeStr"
                    align="center"
                    label="发布时间">
            </el-table-column>

            <el-table-column
                    prop="endTimeStr"
                    align="center"
                    label="结束时间">
            </el-table-column>

            <el-table-column
                    prop="finishNumber"
                    align="center"
                    label="交卷人数">
            </el-table-column>

            <el-table-column
                    prop="statusStr"
                    align="center"
                    label="状态">
            </el-table-column>

            <el-table-column
                    align="center"
                    label="操作">

                <div>
                    <el-link type="success">查看</el-link>
                    /
                    <el-link type="primary">延长</el-link>
                    /
                    <el-link type="danger">结束</el-link>
                </div>

            </el-table-column>

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="10"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",

        mounted() {
            //当页面加载完成后，发送异步请求，获取数据

            this.selectAll();

        },

        methods: {

            // 查询分页数据
            selectAll() {

                axios({
                    method: "get",
                    url: "/task/semester/"+this.semester+"/fuzzy/"+this.fuzzyName,
                }).then(resp => {
                    //设置表格数据
                    console.log(this.fuzzyName)
                    console.log(resp.data)
                    this.tableData = resp.data; // {rows:[],totalCount:100}
                    //设置总记录数
                    //this.totalCount = resp.data.totalCount;
                    //console.log(this.tableData)
                })


            },


            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

                // console.log(this.multipleSelection)
            },
            // 查询方法
            onSubmit() {
                //console.log(this.brand);
                this.selectAll();

            },
            // 添加数据
            addBrand() {
                //console.log(this.brand);
                var _this = this;

                // 发送ajax请求，添加数据
                axios({
                    method: "post",
                    url: "http://localhost:8080/brand-case/brand/add",
                    data: _this.brand
                }).then(function (resp) {
                    if (resp.data == "success") {
                        //添加成功

                        //关闭窗口
                        _this.dialogVisible = false;

                        // 重新查询数据
                        _this.selectAll();
                        // 弹出消息提示
                        _this.$message({
                            message: '恭喜你，添加成功',
                            type: 'success'
                        });

                    }
                })

            },

            //分页
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                // 重新设置每页显示的条数
                this.pageSize = val;
                this.selectAll();
            },
            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                // 重新设置当前页码
                this.currentPage = val;
                this.selectAll();
            },
            getSummaries(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                    if (index === 2) {
                        sums[index] = '总分';
                        return;
                    }
                    const values = data.map(item => Number(item[column.property]));
                    if (!values.every(value => isNaN(value))) {
                        sums[index] = values.reduce((prev, curr) => {
                            const value = Number(curr);
                            if (!isNaN(value)) {
                                return prev + curr;
                            } else {
                                return prev;
                            }
                        }, 0);
                        sums[index] += ' 分';
                    }
                });

                return sums;
            },
            handleSelectionChange2(val){
                console.log('selectArr',val)
                this.newP=val;
            },
            addToNewProblem(){
                console.log(this.newP[0])
                this.addedProblem=this.addedProblem.concat(this.newP)
            },
            handleDelete1(index, row) {
                this.$delete(this.addedProblem,index)
                console.log(index, row);
            },


        },
        data() {
            return {

                addedProblem:[
                    {
                        question_type:"单选题",
                        question_content:"when",
                        full_score: "10",
                        questionId:"11",
                        main:'第一题'
                    }
                    // {
                    //     question_type:"多选题",
                    //     question_content:"which",
                    //     full_score: "15",
                    //     questionId: "25",
                    //     main:'第二题'
                    // },
                    // {
                    //     question_type:"解答题",
                    //     question_content:"why",
                    //     full_score: "12",
                    //     questionId: "32",
                    //     main:'hello'
                    // }
                ],

                newP:[

                ],



                problem:[
                    {
                        question_type:"单选题",
                        question_content:"because",
                        full_score: "100",
                        questionId:"13",
                        main:'第酒题'
                    },
                    {
                        question_type:"多选题",
                        question_content:"which",
                        full_score: "15",
                        questionId: "25",
                        main:'第二题'
                    },
                    {
                        question_type:"多选题",
                        question_content:"and",
                        full_score: "16",
                        questionId: "32",
                        main:'hello'
                    }
                ],


                courseOptions: [{
                    label: '数学'
                }, {
                    label: '语文'
                }, {
                    label: '英语'
                }, {
                    label: '生物'
                }, {
                    label: '化学'
                }],


                classOptions:[
                    {
                        label: '21土木1班'
                    }, {
                        label: '20计科3班'
                    }, {
                        label: '20软工2班'
                    }, {
                        label: '21电子信息5班'
                    }, {
                        label: '19信安8班'
                    }



                ],

                taskForm:{
                    taskName:"",
                    courseName:"",
                    className:""
                },

                value: '',


                // 每页显示的条数
                pageSize: 10,
                // 总记录数
                totalCount: 2,
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                bankVisible:false,

                fuzzyName:"",

                semester:"",


                brand: {
                    semester:"",
                    subjectName: '',
                    courseName: '',
                    problemNumber: '',
                    className: "",
                    startTimeStr: "",
                    endTimeStr: "",
                    finishNumber: "",
                    statusStr: ""
                },
                // 被选中的id数组
                selectedIds: [],
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [{
                    semester:"",
                    taskName: '二轮考核',
                    courseName: '离散数学',
                    problemNumber: '1',
                    className: "测试班",
                    startTimeStr: "2022-3-05",
                    endTimeStr: "2022-4-09",
                    finishNumber: "5",
                    statusStr: "已结束"
                }, {
                    semester:"",
                    taskName: '第7章',
                    courseName: '离散数学',
                    problemNumber: '10',
                    className: "20计科5班",
                    startTimeStr: "2022-5-09",
                    endTimeStr: "2022-6-01",
                    finishNumber: "12",
                    statusStr: "进行中"
                }, {
                    semester:"",
                    taskName: '测试',
                    courseName: 'c程序设计',
                    problemNumber: '25',
                    className: "21计算机14班",
                    startTimeStr: "2022-3-05",
                    endTimeStr: "2022-6-01",
                    finishNumber: "35",
                    statusStr: "进行中"
                }]


            }
        }
    })

</script>

</body>
</html>