<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师管理</title>
    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>

</head>
<body>
<div id="app">

    <!--搜索表单-->
    <el-form :inline="true" :model="brand" class="demo-form-inline">

        <!--        选择学期-->
        <el-form-item label="学期">
            <el-select v-model="semester">
                <el-option label="2022春" value="1"></el-option>
                <el-option label="2021秋" value="2"></el-option>
                <el-option label="2021春" value="3"></el-option>
                <el-option label="2020秋" value="4"></el-option>
                <el-option label="所有学期" value="5"></el-option>
            </el-select>
        </el-form-item>

        <!--        输入搜索的模糊值-->
        <el-form-item label="">
            <el-input v-model="fuzzyName" placeholder="请输入作业名称/课程名称/班级名称"></el-input>
        </el-form-item>


        <el-form-item>
            <el-button type="primary" @click="onSubmit">查询</el-button>
        </el-form-item>
    </el-form>

    <el-row>
        <el-button type="primary" plain @click="dialogVisible = true">添加作业</el-button>
        <el-button type="success" plain>导出成绩</el-button>
    </el-row>

    <!--    添加作业对话框-->
    <div id="taskForm">
        <el-dialog
                title="添加作业"
                :visible.sync="dialogVisible"
        >
            <el-dialog
                    width="45%"
                    title="题库"
                    :visible.sync="bankVisible"
                    append-to-body>
                <el-table
                        ref="multipleTable"
                        :data="addedNewTask.problem"
                        tooltip-effect="dark"
                        style="width: 100%"
                        @selection-change="handleSelectionChange2">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            type="index"
                            label="序号"
                            width="60">
                        <!--                    <template slot-scope="scope">{{ scope.row.date }}</template>-->
                    </el-table-column>
                    <el-table-column
                            prop="questionContent"
                            label="题目"
                            width="300">
                    </el-table-column>
                </el-table>
                <span slot="footer" class="dialog-footer">
                <el-row>
                    <el-button type="primary" round @click="addToNewProblem">选择</el-button>
                    <el-button type="danger" round @click="bankVisible = false">取消</el-button>
                </el-row>
                </span>
                <br>


            </el-dialog>


            <el-form ref="form" :model="brand" label-width="80px">
                <el-form-item label="作业名称:">
                    <el-input v-model="addedNewTask.taskForm.taskName"></el-input>
                </el-form-item>

                <div id="course">
                    所属课程:
                    <template>
                        <el-select v-model="addedNewTask.taskForm.courseId" filterable placeholder="请选择">
                            <el-option
                                    v-for="item in addedNewTask.courseOptions"
                                    :key="item.courseName"
                                    :label="item.courseName"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <br>

                <div>
                    所属班级：
                    <template>
                        <el-select v-model="addedNewTask.taskForm.classId" filterable placeholder="请选择班级">
                            <el-option
                                    v-for="item in addedNewTask.classOptions"
                                    :key="item.className"
                                    :label="item.className"
                                    :value="item.classId">
                            </el-option>
                        </el-select>
                    </template>

                </div>
                <br>

                <el-row>
                    题目：
                    <el-button type="success" plain>添加题目</el-button>
                    <el-button type="danger" plain @click="bankVisible = true">题库选题</el-button>
                </el-row>
                <br>
                </el-form-item>

                <el-table
                        :data="addedNewTask.addedProblem"
                        border
                        height="200"
                        :summary-method="getSummaries"
                        show-summary
                        style="width: 100%; margin-top: 20px">
                    <el-table-column
                            type="index"
                            label="序号"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="questionContent"
                            label="题目简介">
                    </el-table-column>
                    <el-table-column
                            prop="questionType"
                            label="题型">
                    </el-table-column>
                    <el-table-column
                            prop="fullScore"
                            label="分值">
                        <template slot-scope="scope">
                            <input placeholder="请输入" v-model="addedNewTask.addedProblem[scope.$index].fullScore">
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="操作">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handleDelete1(scope.$index, scope.row)">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-form-item>
                    <el-button type="primary" @click="addTask">提交</el-button>
                    <el-button @click="dialogVisible = false">取消</el-button>
                </el-form-item>
            </el-form>

        </el-dialog>
    </div>


    <!--表格-->
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                :row-class-name="tableRowClassName"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    label="序号"
                    type="index"
                    width="50">
            </el-table-column>

            <el-table-column
                    prop="subjectName"
                    label="作业名称"
                    align="center"
            >
                <template scope="scope">
                    <div class="sub-body" @click="modifyTask(scope.row)">{{ scope.row.subjectName }}</div>
                </template>
            </el-table-column>
            <el-table-column
                    prop="courseName"
                    label="课程"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    prop="problemNumber"
                    align="center"
                    label="题数">
            </el-table-column>
            <el-table-column
                    prop="classes"
                    align="center"
                    label="班级">
            </el-table-column>

            <el-table-column
                    prop="startTimeStr"
                    align="center"
                    label="发布时间">
            </el-table-column>

            <el-table-column
                    prop="endTimeStr"
                    align="center"
                    label="结束时间">
            </el-table-column>

            <el-table-column
                    prop="finishNumber"
                    align="center"
                    label="交卷人数">
            </el-table-column>

            <el-table-column
                    prop="statusStr"
                    align="center"
                    label="状态">
            </el-table-column>

            <el-table-column
                    align="center"
                    label="操作">

                <template slot-scope="scope">
                    <div v-if="tableData[scope.$index].statusStr=='进行中'">
                        <el-link type="success">查看</el-link>
                        /
                        <el-link type="primary">延长</el-link>
                        /
                        <el-link type="danger">结束</el-link>
                    </div>
                    <div v-else-if="tableData[scope.$index].statusStr=='已结束'">
                        <el-link type="success">批改</el-link>
                        /
                        <el-link type="primary">延长</el-link>
                        /
                        <el-link type="primary">复用</el-link>
                    </div>
                    <div v-else>
                        <el-link type="success"
                                 @click="timeDialogVisible = true ,publishedTask.id = tableData[scope.$index].taskId ">
                            发布
                        </el-link>
                        /
                        <el-link type="primary">复用</el-link>
                        /
                        <el-link type="danger">删除</el-link>
                    </div>
                </template>
                >

            </el-table-column>

        </el-table>
    </template>

    <!--分页工具条-->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[5, 10, 15, 20]"
            :page-size="10"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

    <!--    作业发布对话框-->
    <el-dialog
            title="作业结束时间"
            :visible.sync="timeDialogVisible"
            width="30%"
            center>
        <el-date-picker
                v-model="publishedTask.endTime"
                type="datetime"
                placeholder="选择日期时间"
                align="right"
                :picker-options="pickerOptions">
        </el-date-picker>
        <span slot="footer" class="dialog-footer">
    <el-button @click="timeDialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="publishTask">确 定</el-button>
  </span>
    </el-dialog>

    <!--    修改练习对话框-->
    <div>
        <el-dialog
                title="修改作业"
                :visible.sync="modifyDialogVisible"
        >
            <el-dialog
                    width="45%"
                    title="题库"
                    :visible.sync="bankVisible2"
                    append-to-body>
                <el-table
                        ref="multipleTable"
                        :data="addedNewTask.problem"
                        tooltip-effect="dark"
                        style="width: 100%"
                        @selection-change="handleSelectionChange2">
                    <el-table-column
                            type="selection"
                            width="55">
                    </el-table-column>
                    <el-table-column
                            type="index"
                            label="序号"
                            width="60">
                        <!--                    <template slot-scope="scope">{{ scope.row.date }}</template>-->
                    </el-table-column>
                    <el-table-column
                            prop="questionContent"
                            label="题目"
                            width="300">
                    </el-table-column>
                </el-table>
                <span slot="footer" class="dialog-footer">
                            <el-row>
                                <el-button type="primary" round @click="addToInsertQuestion">选择</el-button>
                                <el-button type="danger" round @click="bankVisible2 = false">取消</el-button>
                            </el-row>
                            </span>
                <br>


            </el-dialog>


            <el-form ref="form" :model="modifiedTask" label-width="80px">
                <el-form-item label="作业名称:">
                    <el-input v-model="modifiedTask.subjectName"></el-input>
                </el-form-item>

                <div>
                    所属课程:
                    <template>
                        <el-select v-model="modifiedTask.courseId" filterable placeholder="请选择">
                            <el-option
                                    v-for="item in addedNewTask.courseOptions"
                                    :key="item.courseName"
                                    :label="item.courseName"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </template>
                </div>
                <br>

                <div>
                    所属班级：
                    <template>
                        <el-select v-model="modifiedTask.id" filterable placeholder="请选择班级">
                            <el-option
                                    v-for="item in addedNewTask.classOptions"
                                    :key="item.className"
                                    :label="item.className"
                                    :value="item.classId">
                            </el-option>
                        </el-select>
                    </template>

                </div>
                <br>

                <el-row>
                    题目：
                    <el-button type="success" plain>添加题目</el-button>
                    <el-button type="danger" plain @click="bankVisible2 = true">题库选题</el-button>
                </el-row>
                <br>
                </el-form-item>

                <el-table
                        :data="modifiedTask.submittedQuestion"
                        border
                        height="200"
                        :summary-method="getSummaries"
                        show-summary
                        style="width: 100%; margin-top: 20px">
                    <el-table-column
                            type="index"
                            label="序号"
                            width="36">
                    </el-table-column>
                    <el-table-column
                            prop="questionContent"
                            label="题目简介"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            label="题型">
                        <template slot-scope="scope">
                            {{scope.row.questionType=='SINGLECHOICE'?'单选题':(scope.row.questionType=='MULTIPLECHOICE'?'多选题':'解答题')}}
                        </template>
                    </el-table-column>
                    <el-table-column
                            prop="fullScore"
                            label="分值">
                        <template slot-scope="scope">
                            <input placeholder="请输入"
                                   v-model="modifiedTask.submittedQuestion[scope.$index].fullScore">
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="操作">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="danger"
                                    @click="handleDelete2(scope.$index, scope.row)">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-form-item>
                    <el-button type="primary" @click="submitModifiedTask">提交</el-button>
                    <el-button @click="modifyDialogVisible = false">取消</el-button>
                </el-form-item>

            </el-form>


        </el-dialog>
    </div>


</div>


<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: "#app",

        mounted() {
            //当页面加载完成后，发送异步请求，获取数据
            this.selectAll();
            this.selectClass();
            this.selectCourse();
            this.selectQuestionBank();
        },

        methods: {

            // 调试的查看的函数
            look() {
                console.log(this.modifiedTask)
            },

            // 查询分页数据
            selectAll() {

                axios({
                    method: "get",
                    url: "/task/null/semester/" + this.semester + "/fuzzy/" + this.fuzzyName,
                }).then(resp => {
                    //设置表格数据
                    console.log(this.fuzzyName)
                    console.log(resp.data)
                    this.tableData = resp.data;
                })


            },

            // 查看所有班级
            selectClass() {

                axios({
                    method: "get",
                    url: "/class",
                }).then(resp => {
                    //设置表格数据
                    console.log(resp.data)
                    this.addedNewTask.classOptions = resp.data;
                })
            },

            // 查看所有课程
            selectCourse() {

                axios({
                    method: "get",
                    url: "/student/null/course/",
                }).then(resp => {
                    //设置表格数据
                    console.log(resp.data)
                    this.addedNewTask.courseOptions = resp.data;
                })

            },

            // 查看题库
            selectQuestionBank() {
                axios({
                    method: "get",
                    url: "/questionBank",
                }).then(resp => {
                    //设置表格数据
                    console.log("题库", resp.data)
                    this.addedNewTask.problem = resp.data; // {rows:[],totalCount:100}
                    //设置总记录数
                    //this.totalCount = resp.data.totalCount;
                    //console.log(this.tableData)
                })
            },

            // 发布练习
            publishTask() {
                var _this = this;
                axios({
                    method: "put",
                    url: "/task/" + _this.publishedTask.id + "/semester/null/fuzzy/null",
                    data: {
                        operation:"publish",
                        taskId: _this.publishedTask.id,
                        endTime: _this.publishedTask.endTime.getTime(),
                    }
                }).then(resp => {
                    if (resp.data == true) {
                        this.$message({
                            message: '发布成功',
                            type: 'success'
                        });
                        this.selectAll();
                        this.timeDialogVisible = false;
                    } else {
                        this.$message.error('发布失败');
                    }
                })
            },

            // 添加练习
            addTask() {
                var _this = this;

                axios({
                    method: "post",
                    url: "/task/null/semester/null/fuzzy/null",
                    data: {
                        task: {
                            taskId: "",
                            subjectName: _this.addedNewTask.taskForm.taskName,
                            courseId: _this.addedNewTask.taskForm.courseId,
                            totalScore: _this.addedNewTask.totalScore,
                            semester: "1",
                            startTime: "",
                            endTime: "",
                            problemNumber: _this.addedNewTask.addedProblem.length,
                            finishNumber: "0",
                        },
                        classId: _this.addedNewTask.taskForm.classId,
                        questions: _this.addedNewTask.addedProblem,
                    },
                }).then(resp => {
                    if (resp.data == true) {
                        this.$message({
                            message: '添加练习成功',
                            type: 'success'
                        });
                        this.selectAll();
                        this.dialogVisible = false;
                    } else {
                        this.$message.error('添加练习失败');
                    }
                })
            },

            //???
            tableRowClassName({row, rowIndex}) {
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },


            // 复选框选中后执行的方法
            handleSelectionChange(val) {
                this.multipleSelection = val;

                // console.log(this.multipleSelection)
            },
            // 查询方法
            onSubmit() {
                //console.log(this.brand);
                this.selectAll();

            },

            //分页
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                // 重新设置每页显示的条数
                this.pageSize = val;
                this.selectAll();
            },

            handleCurrentChange(val) {
                //console.log(`当前页: ${val}`);
                // 重新设置当前页码
                this.currentPage = val;
                this.selectAll();
            },

            //计算总分
            getSummaries(param) {
                // const { columns, data } = param;
                // const sums = [];
                // columns.forEach((column, index) => {
                //     if (index === 2) {
                //         sums[index] = '总分';
                //         return;
                //     }
                //     const values = data.map(item => Number(item[column.property]));
                //     if (!values.every(value => isNaN(value))) {
                //         sums[index] = values.reduce((prev, curr) => {
                //             const value = Number(curr);
                //             if (!isNaN(value)) {
                //                 return prev + curr;
                //             } else {
                //                 return prev;
                //             }
                //         }, 0);
                //         sums[index] += ' 分';
                //     }
                // });
                //
                // return sums;
                let sum = 0;
                let sums = param.data;
                for (let i = 0; i < sums.length; i++) {
                    sum += Number(sums[i].fullScore);
                }
                this.addedNewTask.totalScore = sum;
                return [null, null, "总分:", sum];
            },

            // 在题库选择的题目
            handleSelectionChange2(val) {
                this.newP = val;
            },

            // 将在题库选择的题目加入新练习中
            addToNewProblem() {
                for (let i = 0; i < this.newP.length; i++) {
                    this.$set(this.newP[i], 'fullScore', 0)
                    this.newP[i].taskId = "";
                    // this.newP[i].fullScore="0";
                    this.newP[i].rightAnswer = "";
                }
                this.addedNewTask.addedProblem = this.addedNewTask.addedProblem.concat(this.newP)
                this.bankVisible = false
            },

            // 将在题库选择的题目加入要修改的练习中
            addToInsertQuestion() {
                for (let i = 0; i < this.newP.length; i++) {
                    this.$set(this.newP[i], 'fullScore', 0)
                    this.newP[i].taskId = "";
                    this.newP[i].rightAnswer = "";
                }
                this.modifiedTask.submittedQuestion = this.modifiedTask.submittedQuestion.concat(this.newP)
                this.bankVisible2 = false
            },

            // 将某题目从将添加的新练习中删除
            handleDelete1(index, row) {
                this.$delete(this.addedNewTask.addedProblem, index)
                console.log(index, row);
            },

            // 将某题目从将修改的练习中删除
            handleDelete2(index, row) {
                this.modifiedTask.submittedQuestion.splice(index, 1);
                console.log(index, row);
                console.log("删除后", this.modifiedTask.initialQuestions)
            },

            // 修改练习
            modifyTask(val) {
                console.log("详细信息", val)
                this.modifiedTask.taskDetail = val;
                this.modifiedTask.subjectName=val.subjectName;
                this.modifiedTask.courseId=val.courseId;
                this.modifyDialogVisible = true;
                this.getQuestion(val.taskId);
                console.log("修改", this.modifiedTask)
            },

            //获得某练习中的题目
            getQuestion(taskId) {
                axios({
                    method: "get",
                    url: "/task/" + taskId + "/question/",
                }).then((resp) => {
                    console.log(resp.data)
                    this.modifiedTask.initialQuestions = resp.data;
                    // this.modifiedTask.submittedQuestion = resp.data;
                    this.modifiedTask.submittedQuestion = this.modifiedTask.submittedQuestion.concat(resp.data)
                })
            },

            submitModifiedTask() {
                let submittedQuestionIds = this.modifiedTask.submittedQuestion.map(item => item.questionId);
                let initialQuestionsIds = this.modifiedTask.initialQuestions.map(item => item.questionId);
                let deletedQuestion = new Array();
                let insertedQuestion = new Array();
                let totalScore=0;
                this.modifiedTask.initialQuestions.forEach((item, index) => {
                    if (!submittedQuestionIds.includes(item.questionId)) {
                        deletedQuestion.push(item);
                    }
                })
                this.modifiedTask.submittedQuestion.forEach((item, index) => {
                    totalScore+=item.fullScore;
                    if (!initialQuestionsIds.includes(item.questionId)) {
                        insertedQuestion.push(item);
                    }
                })
                console.log("被删除的题目", deletedQuestion);
                console.log("被添加的题目", insertedQuestion);

                var _this = this;
                axios({
                    method: "put",
                    url: "/task/" + _this.modifiedTask.taskDetail.taskId + "/semester/null/fuzzy/null",
                    data: {
                        totalScore:totalScore,
                        initialCourseId:_this.modifiedTask.taskDetail.courseId,
                        operation:"modify",
                        deletedQuestion:deletedQuestion,
                        insertedQuestion:insertedQuestion,
                        submittedQuestion:_this.modifiedTask.submittedQuestion,
                        subjectName:_this.modifiedTask.subjectName,
                        courseId:_this.modifiedTask.taskDetail.courseId==_this.modifiedTask.courseId?null:_this.modifiedTask.courseId,
                    }
                }).then(resp => {
                    if (resp.data == true) {
                        this.$message({
                            message: '修改成功',
                            type: 'success'
                        });
                        this.selectAll();
                        this.timeDialogVisible = false;
                    } else {
                        this.$message.error('修改失败');
                    }
                })
            }
        },
        data() {
            return {
                publishedTask: {
                    id: "",
                    endTime: ""
                },

                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() < (Date.now() - 8.64e7);
                    },
                    shortcuts: [{
                        text: '5分钟后',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 60 * 1000 * 5);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '10分钟后',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 60 * 1000 * 10);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '15分钟后',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 60 * 1000 * 15);
                            picker.$emit('pick', date);
                        },
                    }, {
                        text: '30分钟后',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 60 * 1000 * 30);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '1小时后',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一周后',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }]
                },

                addedNewTask: {
                    totalScore: "",
                    addedProblem: [
                        // {
                        //     questionId: "1",
                        //     taskId: "",
                        //     questionType: "单选题",
                        //     questionContent: "when",
                        //     questionOption: "",
                        //     fullScore: "10",
                        //     rightAnswer: '第一题'
                        // }
                        // {
                        //     question_type:"多选题",
                        //     question_content:"which",
                        //     full_score: "15",
                        //     questionId: "25",
                        //     main:'第二题'
                        // },
                        // {
                        //     question_type:"解答题",
                        //     question_content:"why",
                        //     full_score: "12",
                        //     questionId: "32",
                        //     main:'hello'
                        // }
                    ],

                    newP: [],

                    problem: [{
                        questionId: "2",
                        questionType: "多选题",
                        questionContent: "which",
                        questionOption: "",
                    }

                    ],


                    courseOptions: [{
                        id: 1,
                        courseName: '数学'
                    }, {
                        id: 2,
                        courseName: '语文'
                    }, {
                        id: 3,
                        courseName: '英语'
                    }, {
                        id: 4,
                        courseName: '生物'
                    }, {
                        id: 5,
                        courseName: '化学'
                    }],


                    classOptions: [
                        {
                            className: '21土木1班'
                        }, {
                            className: '20计科3班'
                        }, {
                            className: '20软工2班'
                        }, {
                            className: '21电子信息5班'
                        }, {
                            className: '19信安8班'
                        }


                    ],

                    taskForm: {
                        taskName: "",
                        courseId: "",
                        classId: ""
                    },

                    value: '',
                },


                bankVisible2: false,
                modifyDialogVisible: false,
                modifiedTask: {
                    subjectName:null,
                    courseId:null,
                    taskDetail: "",
                    initialQuestions: "",
                    submittedQuestion: []
                },


                // 每页显示的条数
                pageSize: 10,
                // 总记录数
                totalCount: 2,
                // 当前页码
                currentPage: 1,
                // 添加数据对话框是否展示的标记
                dialogVisible: false,
                bankVisible: false,
                timeDialogVisible: false,
                fuzzyName: "",

                semester: "",


                brand: {
                    semester: "",
                    subjectName: '',
                    courseName: '',
                    problemNumber: '',
                    classes: "",
                    startTimeStr: "",
                    endTimeStr: "",
                    finishNumber: "",
                    statusStr: ""
                },
                // 被选中的id数组
                selectedIds: [],
                // 复选框选中数据集合
                multipleSelection: [],
                // 表格数据
                tableData: [{
                    semester: "",
                    taskName: '二轮考核',
                    courseName: '离散数学',
                    problemNumber: '1',
                    classes: "测试班",
                    startTimeStr: "2022-3-05",
                    endTimeStr: "2022-4-09",
                    finishNumber: "5",
                    statusStr: "已结束"
                }, {
                    semester: "",
                    taskName: '第7章',
                    courseName: '离散数学',
                    problemNumber: '10',
                    classes: "20计科5班",
                    startTimeStr: "2022-5-09",
                    endTimeStr: "2022-6-01",
                    finishNumber: "12",
                    statusStr: "进行中"
                }, {
                    semester: "",
                    taskName: '测试',
                    courseName: 'c程序设计',
                    problemNumber: '25',
                    classes: "21计算机14班",
                    startTimeStr: "2022-3-05",
                    endTimeStr: "2022-6-01",
                    finishNumber: "35",
                    statusStr: "进行中"
                }]


            }
        }
    })

</script>

</body>
</html>